.input_txt { 
    color: red; 
    height:20px;
    padding-left: 0px;
}
.text_align_center{
    text-align: center;
}

body {
    background-color: lightgray;
}

a:link {
    color:green 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}


.important {
    font-weight: bold;
    font-size: xx-large;
    font-style: italic;
}

.blue {
    color: blue;
}

/* div {
    height: 100px;
    width: 300px;
    padding: 10px;
    margin: 3px;
    border: 1px solid blue;
    background-color: lightblue;
    block-overflow: ellipsis;
} */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


/* The alert message box */
.alert_success {
    padding: 20px;
    background-color: #80ff80;
    color: white;
    margin-bottom: 15px;
}

.alert_error {
    padding: 20px;
    background-color: #ff0000;
    color: white;
    margin-bottom: 15px;
}


/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
} 1

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}